.title {
    color: rgb(114, 114, 114);
    font-size: 10px;
    margin: 5px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 270px;
}

.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    padding-left: 4px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 30px;
    border: 1px solid rgb(138, 135, 135);
    box-shadow: 2px 2px 2px rgba(77, 76, 76, 0.25);

}

.entry:hover {
    background-color: rgb(238, 238, 238);
}

.token-image {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.token-image-small {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.token-image-extra-small {
    width: 15px;
    height: 15px;
    margin: 3px;
}

.selected-tokens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border-radius: 10;
    border: 1px;
}

.search-bar {
    padding: 5px;
    border-bottom: 1px solid rgb(167, 165, 165);
    width: 100%;
}

.dropdown-menu {
    padding: 5px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.token-select {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}

.token-to-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 3px;
}

.token-to-select:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}